[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][14]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=12
layoutId=
location=4
maxLength=80
name=bottom-dock
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
screensGroup=0
settingsComplexity=1
timerHide=100
timerShow=100
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][14][Applets][181]
immutability=1
plugin=org.kde.plasma.trash

[Containments][14][Applets][181][Configuration]
PreloadWeight=0

[Containments][14][Applets][183]
immutability=1
plugin=org.kde.placesWidget

[Containments][14][Applets][183][Configuration]
PreloadWeight=0

[Containments][14][Applets][183][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][183][Configuration][General]
showDevices=false
showSearches=false
showTimeline=false
widgetWidth=200

[Containments][14][Applets][184]
immutability=1
plugin=org.kde.plasma.calendar.wl

[Containments][14][Applets][184][Configuration]
PreloadWeight=0

[Containments][14][Applets][184][Configuration][Appearance icon]
bold=false
formatMonth=MMM
icon=application-x-vnd.akonadi.calendar.event
monthHorizontalPosition=-1
monthVerticalPosition=29

[Containments][14][Applets][184][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][191]
immutability=1
plugin=org.kde.latte.separator

[Containments][14][Applets][191][Configuration]
PreloadWeight=0

[Containments][14][Applets][192]
immutability=1
plugin=OSXLaunchpad

[Containments][14][Applets][192][Configuration]
PreloadWeight=100

[Containments][14][Applets][192][Configuration][ConfigDialog]
DialogHeight=588
DialogWidth=840

[Containments][14][Applets][192][Configuration][General]
animateScrollSpeed=450
customButtonImage=/home/cris/arcolinux-froly.png
favoriteSystemActions=logout,lock-screen
favoritesPortedToKAstats=true
iconSize=64
spaceWidth=36
useCustomButtonImage=true
useCustomSizeGrid=true

[Containments][14][Applets][192][Shortcuts]
global=Launch (D)

[Containments][14][Applets][42]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][14][Applets][42][Configuration]
PreloadWeight=0

[Containments][14][Applets][42][Configuration][General]
isInLatteDock=true
launchers59=applications:org.kde.dolphin.desktop,applications:firefox.desktop,applications:Alacritty.desktop,applications:com.gexperts.Tilix.desktop,applications:org.kde.kcalc.desktop,applications:sublime_text.desktop,applications:systemsettings.desktop,applications:org.kde.konsole.desktop,applications:org.manjaro.pamac.manager.desktop,applications:nemo.desktop,applications:audacious.desktop,applications:spotify-adblock.desktop,applications:org.gnome.Meld.desktop,applications:kitty.desktop
manualScrollTasksType=VerticalHorizontal
scrollTasksEnabled=true

[Containments][14][ConfigDialog]
DialogHeight=904
DialogWidth=539

[Containments][14][Configuration]
PreloadWeight=0

[Containments][14][General]
activeWindowFilter=FromAllScreens
advanced=false
alignment=0
alignmentUpgraded=true
appletOrder=192;42;191;181
backgroundRadius=50
durationTime=x1
iconSize=38
infoBadgeProminentColorEnabled=true
lastWindowsVisibilityMode=7
maxLength=63
minLength=20
panelSize=100
panelTransparency=9
screenEdgeMargin=8
shadowOpacity=0
shadowSize=45
shadows=All
shadowsUpgraded=true
showGlow=false
splitterPosition=1
splitterPosition2=8
tasksUpgraded=true
zoomLevel=11

[Containments][14][Indicator]
customType=
enabled=true
type=org.kde.latte.default

[Containments][14][Indicator][org.kde.latte.default][General]
activeStyle=Dot
glowApplyTo=OnActive
glowEnabled=true
minimizedTaskColoredDifferently=true
thickMargin=0.06

[LayoutSettings]
activities=
background=
backgroundStyle=0
color=black
customBackground=
customTextColor=333333
disableBordersForMaximizedWindows=true
icon=folder-apple
lastUsedActivity=cd915191-804f-4d50-8fc3-f8e5c0279f54
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=false
textColor=333333
version=2
